.container {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  margin: 0 auto;
}

.currencies {
  display: flex;
}

.currencies li {
  padding: 5px;
  margin-right: 5px;
  font-size: 18px;
}

.active {
  background-color: #18cfab;
}

.field {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
}