.container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

select {
  width: 12%;
  font-size: 16px;
}

.list li {
  margin-bottom: 15px;
  font-size: 18px;
}

.list li:hover {
  color: #18cfab;
}

.updateButton {
  background-color: #18cfab;
  color: #ffffff;
  padding: 16px 28px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  margin: 0 12px;
  box-shadow: 0 -2px 0 #ffffff;
  transition: all linear 0.5s;
}